/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow EXAMPLE config file for running of TRANA/gms_16S on the NGPc
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/gmsemu -profile ngp_test.config,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


// CHANGE set the workdir to your sites result-folder
workDir = "/ngp/workspace/gmc-orebro/pipeline_output/gms_16S_v0_3_1/work_users/${System.getenv("USER")}/gms_16S_v0_3_1_work"

// Preform work directory cleanup after a successful run
cleanup = true

process {
    executor                    = 'sge'
    scratch = true
    queue                       = 'exec.q'
    penv="OpenMP"

    resourceLimits = [
        cpus: 32,
        memory: 122.GB,
        time: 1.h
    ]

    withName: EMU_ABUNDANCE {
        cpus = { 16 * task.attempt }
    }

}

params {
    config_profile_name         = 'NGPc profile'
    config_profile_description  = 'NGP medium performance profile'
    workDir = "${workDir}"
    cacheDir = "${workDir}"
    // Limit resources so that this can run on GitHub Actions
    max_cpus                    = 32
    max_memory                  = '61.GB'
    max_time                    = '1.h'


}

profiles {
    singularity{
        enabled = false
        autoMount  = true
        runOptions = '--bind /ngp/exec/dev/gms_16S_v0_3_1/gms_16S:/ngp/exec/dev/gms_16S_v0_3_1/gms_16S'
        cacheDir = "${workDir}/"


    }

    apptainer{
        enabled = true
        autoMount  = true
        //runOptions = "-B ${scratch_dir}"
        runOptions = '--bind /ngp/exec/dev/gms_16S_v0_3_1/gms_16S:/ngp/exec/dev/gms_16S_v0_3_1/gms_16S'
        cacheDir = "${workDir}/"


    }
}
